#header {
    margin-top: 30px;
    margin-left: 20px;

    .material-icons {
        margin-top: 5px;
        margin-right: 25px;
    }

    h4 {
        span {
            word-wrap: break-word;
        }
    }
    
}