#auth-page {

    // For Desktop
    @media screen and (min-width: $medium) {
        width: 411px;
    }

    // For Mobile
    @media screen and (max-width: $medium) {
        width: 100%;
    }

    // Center Vertical & Horizontal
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    form {
        margin-top: 2rem;

        .input-field {
            margin-top: 1.5rem;
        }

        button {
            margin-top: 2rem;
        }
    }
    
}